body {
	margin-top: 50px !important
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
	background: #03a9f4
}

.dtp div.dtp-date, .dtp div.dtp-time {
	background: #03a9f4
}

.dtp table.dtp-picker-days tr>td>a.selected {
	background: #03a9f4
}

.dtp .p10>a {
	color: #fff
}

.alert.alert-success {
	background: #000
}